.container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
}

#username {
    color: #3366cc;
}

.user-details {
    margin-top: 20px;
}

#profile-picture {
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-detail {
    margin-bottom: 10px;
}

#thanks-message {
    color: green;
}

.indexh1 {
    font-size: 24px;
    color: #333;
    text-align: center;
}

.indexh1 a {
    text-decoration: none;
    color: #007bff;
}

.indexh1 a:hover {
    text-decoration: underline;
}